<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Car</title>
</head>

<body>
  <a href="/">back</a>
  <form action="/add" method="post">
    <h3>Add car</h3>
    <% if(viewError) { %>

      <div>
        <span>name</span>
        <input type="text" name="name" required value=<%-car.name %>>
        <p style="color: red; ">
          <%-error.name %>
        </p>
      </div>
      <div>
        <span>power</span>
        <input type="number" name="power" required value=<%-car.power %>>
        <p style="color: red; ">
          <%-error.power %>
        </p>
      </div>
      <div>
        <span>color</span>
        <input type="text" name="color" required value=<%-car.color %>>
        <p style="color: red; ">
          <%-error.color %>
        </p>
      </div>
      <button>Submit</button>

      <% } else { %>

        <div>
          <span>name</span>
          <input type="text" name="name" required>
        </div>
        <div>
          <span>power</span>
          <input type="number" name="power" required>
        </div>
        <div>
          <span>color</span>
          <input type="text" name="color" required>
        </div>
        <button>Submit</button>
        <% } %>
  </form>

</body>

</html>