<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Change Car</title>
</head>

<body>
  <a href="/">back</a>
  <form action="/change/<%- _id %>" method="post">
    <h3>Change car</h3>
    <div>
      <span>name</span>
      <input type="text" name="name" required value=<%-name %>>
    </div>
    <div>
      <span>power</span>
      <input type="number" name="power" required value=<%-power %>>
    </div>
    <div>
      <span>color</span>
      <input type="text" name="color" required value=<%-color %>>
    </div>
    <button>Submit</button>
  </form>
</body>

</html>