<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete Car
    <%- name %>
  </title>
</head>

<body>
  <a href="/">back</a>
  <form action="/delete/<%- id %>" method="post">
    <button>yes</button>
  </form>
  <a href="/">no</a>
</body>

</html>