<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Language</title>
</head>

<body>
  <h3>Cars list</h3>
  <a href="/logout">logout</a><br/>
  <a href="/add">add car</a>

  <% if(!Cars || Cars.length === 0) { %>
    <h4>The list is yet empty</h4>
    <%} else { %>
      <ul>
        <% for(let i = 0; i < Cars.length; i++) { %>
          <li>
            Name:
            <%- Cars[i].name %>
              Power:
              <%- Cars[i].power ?  Cars[i].power : 'n/a' %>
                Color:
                <%- Cars[i].color ? Cars[i].color : 'n/a' %>
                  <a href="/delete/<%-Cars[i]._id%>">delete</a>
                  <a href="/change/<%-Cars[i]._id%>">change</a>

          </li>
          <%}%>
      </ul>
      <%}%>
</body>

</html>