<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h2>Please, login or <a href="/signup">SIGNUP</a></h2>
  <% if(error) { %>
    <h4>
      <%= error %>
    </h4>
    <%}%>
      <form action="/login" method="post">
        <input type="text" name="login" id="login">
        <input type="password" name="password" id="password">
        <button>login</button>
      </form>
</body>

</html>