<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h2>SignUp</h2>
  <% if(error) { %>
    <h4>
      <%= error %>
    </h4>
    <%}%>
      <form action="/signup" method="post">
        <input type="text" name="login" id="login">
        <input type="password" name="password" id="password">
        <select name="role" id="">
          <option value="admin">admin</option>
          <option value="user" selected>user</option>
        </select>
        <button>SignUp</button>
      </form>
</body>

</html>